.project {
    background-color: #FFF9E5;
    padding-bottom: 2em;
}

.myProject {
    text-align: center;
    font-family: 'Audrey Regular', sans-serif;
    font-size: 60px;
    line-height: 83px;
    color: #313131;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0 auto;
    padding: 1em 0 0.7em;
}

.projectItem {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto 20px;
    display: flex;
    border: 1px solid #707070;
    border-radius: 20px;
    box-shadow: 3px 2px 6px #00000029;
}

.projectItemLeft {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    padding: 10px 5%;
}

.projectItemRight {
    background: #313131 0% 0% no-repeat padding-box;
    border-radius: 0px 20px 20px 0px;
    display: inline-flex;
    flex-direction: column;
    width: 30%;
}

.projectImg {
    margin: 20px auto;
}

.projectImg img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.projectTitle {
    font-family: muli, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0.6px;
    color: #313131;
    word-break: break-word;
}

.projectDescription {
    font: bold 18px/22px muli;
    margin-bottom: 5%;
}
.projectDescription ul {
    margin: 5px auto;
}

.projectTechStack {
    font: italic 500 23px/35px muli, sans-serif;
    letter-spacing: 0.5px;
    color: #313131;
}

.projectTechStackTitle {
    font-size: 25px;
    font-style: normal;
}

.projectTech {
    font: 23px/37px muli, sans-serif;
    letter-spacing: 0.5px;
    color: #313131;
}

.projectLink {
    font: lighter 24px/40px muli;
    letter-spacing: 0.56px;
    color: #FFF9E5;
    max-width: 220px;
    width: 100%;
    margin: 0 auto;
}

.projectLink a {
    text-decoration: none;
    letter-spacing: initial;
    font-size: 21px;
}
.projectLink a:visited {
    color: #dfddd7;
}

.projectLink a:hover {
    color: #f9efd3;
}

.projectLinkIcon, .projectCodeIcon {
    margin: 0 10px 0 13px;
    vertical-align: middle;
}

.projectLinkIcon:before {
    background-image: url("assets/_images/link-icon.png");;
    background-size: 22px 22px;
    background-blend-mode: multiply;
    display: inline-block;
    width: 22px;
    height: 22px;
    content: "";
}

.projectCodeIcon:before {
    background-image: url("assets/_images/code-icon.png");;
    background-size: 22px 22px;
    background-blend-mode: multiply;
    display: inline-block;
    width: 22px;
    height: 22px;
    content: "";
}

.downArrow:before {
    background-image: url("assets/_images/downArrowDark.png");;
    background-size: 90px 40px;
    display: inline-block;
    width: 90px;
    height: 40px;
    content: "";
}

.downArrow {
    text-align: center;
    padding: 1.5em 0 0.5em;
}

@media screen and (max-width: 600px) {
    .myProject {
        font-size: 42px;
        line-height: 55px;
    }

    .projectItem {
        flex-direction: column;
    }

    .projectItemLeft {
        display: block;
        width: 95%;
        vertical-align: top;
        padding: 10px;
    }

    .projectItemRight {
        background: #313131 0% 0% no-repeat padding-box;
        border-radius: 0 0 20px 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .projectTitle {
        font-size: 25px;
        line-height: 55px;
        font-weight: 600;
    }

    .projectDescription {
        font-weight: 300;

    }
}